<!-- <footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
        <span>copyright ©
            <script> document.write(new Date().getFullYear()); </script> - developed by
            <b><a>Face Recognition Attendance System</a></b>
        </span>
        </div>
    </div>
</footer> -->